.upload-container {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h3 {
  color: #495057;
  font-weight: bold;
}

button {
  background-color: #61D27E;
  color: white;
}

button:hover {
  background-color: #50b15c;
}
